<%= javascript_include_tag 'profile' %>
<%= stylesheet_link_tag 'profile' %>
<% if current_user.has_admin_privilege? %>
  <!-- Admin view -->
  <h4>Admin View</h4>
  <div class="row">
    <div class="container">
      <div class="pinfo"><span class="ptitle">Email:</span><span class="pvalue"><%= @user.email %></span></div>
      <div class="pinfo"><span class="ptitle">Joined:</span><span class="pvalue"><%= @user.created_at.to_date.to_s(:simple_date) %></span></div>
    </div>
  </div>
  <hr/>
<% end %>

<% if !@user_profile %>
  <div class="row">
    No member found
  </div>
<% elsif @user_profile.new_record? %>
  <h3>Profile</h3>
  <%= render :partial => 'form', :locals => {:hide_remove_avatar => true} %>
<% else %>
  <div class="row">
    <% img_url = @user_profile.avatar.url || "placeholder.gif" %>
    <div class="col-sm-2"><%= image_tag img_url, size: "160x160", class:"img-rounded" %></div>
    <div class="row col-sm-3">
      <div class="profile-name"><%= "#{@user_profile.first_name} #{@user_profile.last_name}" %></div>
      <div class="pinfo"><span class="ptitle">College:</span><span class="pvalue"><%= "#{@user_profile.university}, #{@user_profile.graduation_year}" %></span></div>
      <div class="pinfo"><span class="ptitle">Hometown:</span><span class="pvalue"><%= @user_profile.hometown %></span></div>
      <div class="pinfo"><span class="ptitle">Major:</span><span class="pvalue"><%= @user_profile.major %></span></div>
    </div>
  </div>
  <hr/>
<% end %>
